@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #2bc447;
    --black: #0f0f0f;
    --black-light: #121212;
    --white: #fff;
    --white-light: #c6c8c9;
}

/* Custome css */

.btn{
    color: var(--white);
    height: 50px;
    width: 100px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
    overflow: hidden;
    border: none;
    border: 1px solid var(--primary-color);
}

.btn a{
    font-size: 1rem;
    font-weight: 600;
    color: var(--white);
    z-index: 1;
    transition: .6s;
}
.btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    height: 100%;
    width: 0;
    background-color: var(--white);
    transform: skewX(45deg);
    z-index: 0;
    transition: width 850ms;
}
.btn:hover::before{
    width: 250%;
}

.btn:hover a{
    color: var(--primary-color);
}

body {
    background-color: var(--black);
    overflow-x: hidden;
}

.navbar{
    height: 90px;
    width: 100%;
    padding: 0px 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.logo{
    width: 130px;
}
.logo a{
    font-size: 1.3rem;
    font-weight: 300;
    color: var(--white);
}

.menu{
    display: flex;
    align-items: center;
}
.menu li{
    padding: 0px 16px;
}

.menu li a{
    font-size: 0.9rem;
    color: var(--white);
    transition: all 0.3s ease;
    text-transform: uppercase;
    padding: 8px;
    font-weight: 600;
    letter-spacing: 1px;
}

.menu li a:hover{
    color: var(--primary-color);
}

#toggle{
    color: var(--white);
    background-color: var(--primary-color);
    padding: 8px;
    border-radius: 8px;
    font-size: 1.5rem;
    display: none;
}

.nav_btn{
    width: 150px;
    height: 50px;
    border-radius: 5px;
}
.nav_btn a{
    font-size: 1rem;
    font-weight: 600;
}

@media screen and (max-width:1200px) {
    #toggle{
        display: block;
    }
    .menu{
        position: absolute;
        flex-direction: column;
        height: 0;
        top: 100%;
        left: 0%;
        width: 100%;
        background-color: var(--black-light);
        backdrop-filter: blur(10px);
        overflow: hidden;
        opacity: 0;
        transition: .6s;
    }
    .menu li{
        width: 100%;
        padding: 20px 12%;
    }

    .active{
        height: 325px;
        opacity: 1;
    }
}